WinToast/
TaoQuick/

taoQuick.cmake
nlohmann/json.hpp

CMakeLists.txt.user

*.autosave

assets/right-arrow - Copy.png

assets/information - Copy.png

assets/save original.png

assets/Misc (not tracked)/
